@import "variables";

footer {
  background-color: #333333;

  .container {
    padding: 3rem 0;
  }

  span, li {
    font-size: 80%;
  }

  ul {
    list-style: none;

    a {
      color: $white;
      text-decoration: none;
      transition: color ease-in-out .3s;

      &:hover {
        color: $brand-color;
      }
    }
  }

  .icons {
    text-align: right;

    @media only screen and (max-width: 991px) {
      text-align: left;
      padding: 0 2rem;

      span {
        display: block;
        margin-top: 2rem;
      }
    }
  }

  .icons a {
    position: relative;
    top: .6rem;
    margin-left: 1rem;
    
    @media only screen and (max-width: 991px) {
      &:first-of-type {
        margin-left: 0;
      }
    }

    .custom-icon {
      width: 30px;
      height: 30px;
      background-size: 129px;

      &.facebook {
        background-position: 1px 0px;
        &:hover {
          background-position: 1px -33px;
        }
      }
      &.instagram {
        background-position: -33px 0px;
        &:hover {
          background-position: -33px -33px;
        }
      }
      &.youtube {
        background-position: -67px 0px;
        &:hover {
          background-position: -67px -33px;
        }
      }
      &.linkedin {
        background-position: -100px 0px;
        &:hover {
          background-position: -100px -33px;
        }
      }
    }
  }

  .accordion {
    .accordion-item {
      background-color: transparent;
      cursor: pointer;

      a {
        font-size: 12.8px;
      }
    }

    .pdfs {
      a {
        color: $brand-color;
        display: block;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .copy-right {
    display: inline-block;
    float: right;
    
    span {
      display: block;
    }
  }

  .icons {
    display: inline-block;
    float: right;
  }
}