#partners {
  .img-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10rem;
    height: 4rem;
    display: inline-block;
    margin: 1.5rem 1rem;
    
    @include media-breakpoint-down(md) {
      width: 7rem;
      margin: 1rem 1rem;
    }
  }

  .d-flex {
    @include media-breakpoint-down(md) {
      flex-direction: column !important;
    }
  }
}
