@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/bootstrap/scss/variables.scss";
@import "variables";
@import "common";
@import "join-our-team";
@import "who-we-are";
@import "partners";
@import "footer";

// ---------- layout ----------- //
$transition-collapse: height 1s ease !default;

@font-face {
  font-family: "Gilmer";
  src: url("./fonts/gilmer-regular.woff") format("woff");
}
@font-face {
  font-family: "Gilmer-heavy";
  src: url("./fonts/gilmer-heavy.woff") format("woff");
}


body {
  background-color: $black;
  color: $white;
  font-family: Gilmer;
}

.brand-color {
  color: $brand-color;
}

.container {
  padding: 5rem 0;
  @media only screen and (max-width: 576px) {
    padding: 3rem 2rem;
  }
}

.separator {
  border-bottom: 3px solid $gray-300;
  width: 100%;
}

// ---------- navigation ----------- //
nav {
  padding: 0 1rem !important;

  .navbar-collapse {
    transition: all cubic-bezier(0.550, 0.055, 0.675, 0.190) .5s;
  }

  .icons a {
    color: $white;
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: color ease-in-out .3s;

    &:hover {
      color: $brand-color;
    }
  }

  .nav-link {
    color: $white !important;

    &:hover {
      color: $brand-color !important;
    }
  }

  @media only screen and (min-width: 991px) {
    .nav-link {
      display: inline-block;
    }

    .nav-item {
      margin-left: 3rem;
    }
  }

  @media only screen and (max-width: 991px) {
    .nav-item {
      padding-left: 1rem;
    }

    .icons {
      padding-bottom: 1rem;
    }
  }
}

.navbar-brand img {
  width: 6rem;
}

// ---------- banner----------- //
.carousel-indicators [data-bs-target]  {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
  border: 2px solid $brand-color;
  transition: background-color ease-in-out .3s;
  margin: 0 .7rem 1rem;

  &.active {
    border: none;
    height: 1.8rem;
    width: 1.8rem;
    background-color: $brand-color;
  }
}

#heroCarousel {
  border-bottom: 3px solid $brand-color;

  h1 {
    position: absolute;
    top: 45%;
    margin-left: 5rem;
    margin-right: 50%;
    z-index: 2;
    font-size: 3rem;

    @media only screen and (max-width: 1400px) {
      margin-right: 30%;
    }
    @media only screen and (max-width: 991px) {
      font-size: calc(1.375rem + 1.5vw);
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .5));
  }

  .carousel-item {
    height: 40rem;

    div {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: 991px) {
      height: 30rem;
    }
  }
}

#programs {
  .link {
    transition: color ease-in-out .3s;
    margin-right: 2rem;

    &:hover {
      color: $white;
    }
  }

  hr {
    background-color: $white;
    opacity: 1;
  }
}

#newsletter {
  background: $brand-color;
  padding: 2rem 0;
  overflow: hidden;

  a {
    display: block;
    font-size: 140%;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
    margin-top: -1rem;
    transition: all ease-in-out .3s;

    &:hover {
      svg {
        transform: rotate(-360deg);
      }
    }
  }

  svg {
    font-size: 3rem;
    position: relative;
    top: 0.6rem;
    right: .5rem;
    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.8s;
    transform: rotate(-220deg);
    transform-origin: -5rem -5rem;
  }
}

#newsletterModal {
  .modal-header {
    color: $brand-color;
    border: none;
    padding: 1.8rem 0 0 2rem;

    .close-button {
      color: $white;
      position: absolute;
      right: 1.3rem;
      top: 1rem;
      font-size: 1.5rem;

      &:hover {
        color: $brand-color;
      }
    }
  }
  .modal-content {
    background-color: #333333;
  }
  .modal-body {
    padding: 2rem;

    .text-input {
      width: 100%;
    }
    a {
      color: $brand-color;
      &:hover { color: $white; }
    }
  }
  .indicates-required {
    float: right;
    opacity: .3;
  }
  .checkbox {
    display: block;

    input {
      transform: scale(1.8);
      margin: 0 .5rem 1rem .5rem;
    }
  }

  .subscribe-button {
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 7px;
    font-weight: bold;
    border: 2px solid $brand-color;
    color: $brand-color;
    transition: all ease-in-out .3s;

    &:hover {
      background: $brand-color;
      color: #333333;
    }
  }
}